body {
    background: #091F33;
    color: #fff;
    text-align: center;
    font-family: 'Rubik Mono One', monospace; }

.timer {
    margin: 6em 0;
}

span {
    font-size: 300px;
    color: #50976C; }

.warning {
    color: #AB4337; }

.button {
    display: inline-block;
    margin: 20px;
    width: 150px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 19px;
    color: #091F33;
    font-size: 1.2em;
    transition: all 100ms ease; }

.button:hover {
    background: #fff;
    color: #000; }